<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	id="phonegap-datawedge-intent" 
	version="1.0.3">

	<name>ZebraTC20BCR</name>
	<description>Trigger and read barcodes from Zebra TC20 series build in barcode scanner.</description>
	<license>Apache 2.0</license>
	<keywords>cordova, zebra, tc20, barcode reader, plugin</keywords>

	<js-module src="www/broadcast_intent_plugin.js" name="BroadcastIntentPlugin">
		<clobbers target="navigator.broadcast_intent_plugin" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/*">
			
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BroadcastIntentPlugin">
				<param name="android-package" value="org.limitstate.intent.BroadcastIntentPlugin" />
			</feature>
		</config-file>

		<source-file src="src/android/BroadcastIntentPlugin.java" target-dir="src/org/limitstate/intent" />
	</platform>

</plugin>
